body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0E0F19;
}

.navbar {
    background-color: #57886C;
    padding: 15px;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: auto;
}

.nav-right a {
    color: #F7F9F9;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-right a:hover {
    background-color: #555;
    border-radius: 5px;
}


.projects-section {
    text-align: left;
    font-size: 48px;
    padding: 20px 15px;
    color: #F8C7CC;
}


.carousel-container {
    overflow: visible;
    position: relative; 
}

.carousel {
    display: flex;
    gap: 1px;
    padding: 20px;
}

.project-tile {
    flex: 0 0 300px;
    height: 400px;
    background: #466060;
    border: 3px solid #213939;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    background-color: #F8C7CC;
    color: #F8C7CC;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.project-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-footer {
    background-color: #466060;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.project-footer a {
    color: #F8C7CC;
    text-decoration: none;
    font-weight: bold;
}



.project-tile:hover {
    transform: scale(1.2);
    z-index: 100;
}

.project-tile a {
    display: block;
    margin-top: 10px;
    color: #d89299;
    text-decoration: none;
}

.carousel-wrapper {
    background-color: #81A684; /* Background for the rectangle */
    border-radius: 20px; /* Rounded corners */
    padding: 30px 20px; /* Space inside the rectangle */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; /* Only as wide as the carousel */
    margin: auto; /* Centers the rectangle */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}


@media (max-width: 768px) {
    .project-tile {
        flex: 0 0 calc(50vw - 10px);
        height: 40vh;
    }
}